.nv {
    background-color: #008374 !important;
    position: static !important;
}

.Welcome {
    background-color: #008374 !important;
}

.btn-get-started {
    background-color: #3a9389d5 !important;
    border-radius: 5px !important;
}

.welcome-video{
    border: 0px solid white !important;
    border-radius: 25px;
    padding: 10px;
}

.welcome-video:hover{
    background-color: #008d7d !important;
    border: 1px solid white;
}

.icons {
    width: 50px !important;
    align-self: center;

}

.card1{
    background-color: #008d7d !important;
    border: 0px !important;
}

/* .dash{
    min-width: 5px !important;
    padding: 40px;
} */

.about-img1{
    width: 100%;
    border-radius: 10px;
}

.about2-img{
    width: 100%;
    border-radius: 10px;
    align-items: end;
}

.ul-about{
    list-style-type: circle;
}

.num{
    color: #008374 !important;
}.nv {
    background-color: #008374 !important;
    position: static !important;
}

.Welcome {
    background-color: #008374 !important;
}

.btn-get-started {
    background-color: #3a9389d5 !important;
    border-radius: 5px !important;
}

.welcome-video{
    border: 0px solid white !important;
    border-radius: 25px;
    padding: 10px;
}

.welcome-video:hover{
    background-color: #008d7d !important;
    border: 1px solid white;
}

.icons {
    width: 50px !important;
    align-self: center;

}

.card1{
    background-color: #008d7d !important;
    border: 0px !important;
}

/* .dash{
    min-width: 5px !important;
    padding: 40px;
} */

.about-img1{
    width: 100%;
    border-radius: 10px;
}

.about2-img{
    width: 100%;
    border-radius: 10px;
    align-items: end;
}

.ul-about{
    list-style-type: circle;
}

.num{
    color: #008374 !important;
}