.nv {
    background-color: #008374 !important;
    /* position: fixed !important; */

}

.nav-bar {
    position: sticky !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
}


.Welcome {
    background-color: #008374 !important;
}

.btn-get-started {
    background-color: #3a9389d5 !important;
    border-radius: 5px !important;
}

.welcome-video {
    border: 0px solid white !important;
    border-radius: 25px;
    padding: 10px;
}

.welcome-video:hover {
    background-color: #008d7d !important;
    border: 1px solid white;
}

.icons {
    width: 50px !important;
    /* align-self: center; */

}

.card1 {
    background-color: #008d7d !important;
    border: 0px !important;
}

/* .dash{
    min-width: 5px !important;
    padding: 40px;
} */

.about-img1 {
    width: 100%;
    border-radius: 10px;
}

.about2-img {
    width: 100%;
    border-radius: 10px;
    align-items: end;
}

.ul-about {
    list-style-type: circle;
}

.num {
    color: #008374 !important;
}

.nv {
    background-color: #008374 !important;
    position: static !important;
}

.Welcome {
    background-color: #008374 !important;
}

.btn-get-started {
    background-color: #3a9389d5 !important;
    border-radius: 5px !important;
}

.welcome-video {
    border: 0px solid white !important;
    border-radius: 25px;
    padding: 10px;
}

.welcome-video:hover {
    background-color: #008d7d !important;
    border: 1px solid white;
}

.icons {
    width: 50px !important;
    align-self: center;

}

.card1 {
    background-color: #008d7d !important;
    border: 0px !important;
}

/* .dash{
    min-width: 5px !important;
    padding: 40px;
} */

.about-img1 {
    width: 100%;
    border-radius: 10px;
}

.about2-img {
    width: 100%;
    border-radius: 10px !important;
    align-items: end;
}

.ul-about {
    list-style-type: circle;
}

.num {
    color: #008374 !important;
}

.call-to {
    background-image: url(./asset/img/4532174-trees-aerial-view-forest-road.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 20px !important;
    width: 80% !important;
}

.Action-btn {
    border: white 2px solid !important;
    border-radius: 10px !important;

}

.Action-btn:hover {
    background-color: #008374 !important;
    border: 2px #008374 solid !important;
}

.our-service {
    background-color: #e8e5e5 !important;
}

/* .line{
    color: #0e100f !important;
   
    width: 550px !important;
    padding: 50px;
}

.line:hover{
    background-color: black !important;
    color: #070808 !important;
} */

/* .pic {
    width: 200px !important !important;
    border-radius: 80px !important;
} */

.testimonial-pics{
    width: 100px !important;
    border-radius: 80px !important;
}

.port-filter {
    font-size: 14px !important;
    font-weight: 600 !important;
}

.port-filter:hover {
    color: #008374 !important;

}

.portfoilo-pic {
    width: 160% !important;
    border-top-left-radius: 1em !important;
    border-top-right-radius: 1em !important;
}

.portfoilo-pic img{
    transition: 0.3s !important;
}

.portfolio-sec{
    background-color: #f0f0f0 !important;
    
}

.app{
    background-color: white !important;
    border-bottom-left-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
}

.team-pic{
    border-radius: 1em !important;
    width: 350px !important;
}

.social-icons{
    width: 40px !important;
    align-items: center !important;
}

.p-writeup{
    color: #CECECE !important;
}

.price-icon{
    width: 55px !important;
    background-color: #008374 !important;
    border-radius: 4px !important;
    padding: 6px !important;
}

.dollar-sign, .amount{
    color: #f9715a !important;
}

.price-list{
    list-style: lower-greek;
}

.btn-buy-now{
    border: 1px #008d7d solid !important;
    color: #008374 !important;
    border-radius: 10px !important;
    transition-duration: 0.2s !important;
}

.btn-buy-now:hover{
color: white !important;
background-color: #008d7d !important;
}

.business-plan{
    border: #008374 3px solid !important;
}

.question:hover{
    transition-duration: 0.4s !important;
    color: #008374 !important;
}

.Blog{
    background-color: #f6f6f6 !important;
}

.blog-pic{
    width: 100% !important;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.author-pic{
    width: 65px !important;
    border-radius: 70px !important;
}

.blog-writeup:hover{
    color: #008d7d !important;
    transition-duration: 0.3s !important;
}

.contacts{
    background-color: #009282 !important;
}

.contact-icon{
    width: 40px !important;
    background-color: #33a89b !important;
    padding: 4px !important;
    border-radius: 5px !important;
    height: 50px !important;
}

.contact-icon:hover{
    background-color: #f6f6f6 !important;
    transition-duration: 0.4s !important;
    border-radius: 5px !important;
    padding: 5px !important;
}

.box{
    background-color: #0bae9b !important;
    color: white !important;
    border-radius: 7px !important;
}


.form-name,.form-email{
    width:  50% !important;
}

.btn-form{
    color: white !important;
    background-color: #008374 !important;
}

.impact-copyright{
    background-color: #008d7d !important;

}

.c-ul{
    list-style-type: none !important;
}

.main-div{
    width: 90% !important;
}